@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior:smooth;
}

:root {
  /* COLORS */
  --color-000: white;
  --color-050: whitesmoke;
  --color-100: aliceblue;
  --color-200: grey;
  --color-300:  rgb(138, 211, 240);
  --color-400: rgb(255, 215, 70);
  --color-500: rgb(20, 31, 51);
  --color-600: black;

  /* BACKGROUNDS */
--navbar-background:var(--color-100);
--primary-background: var(--color-000);
--h1-background:var(--rtc-color-200);
--h2-background:var(--rtc-color-100);
--button-background:var(--color-000);
--footer-background:var(--color-500);

  /* TEXT COLORS */
  --text-color-navbar: var(--color-200);
  --text-color-primary: var(--color-000);
  --text-color-secondary: var(--color-600);
  --text-color-h1: var(--color-050);
  --text-color-span: var(--color-300);
  --text-color-h2: var(--color-000);
  --text-color-impact: var(--color-400);
  --text-color-title: var(--color-600);

  /* BORDER COLORS */
  --border-color-000: var(--color-000);
  --border-color-100: var(--color-600);

  /* BORDERS */
  --border-xs: 10px;
  --border-s: 20px; 
  --border-m: 30px;
  --border-l: 40px;
  --border-xl: 50px;
  --border-xxl: 60px;
      /* SPACINGS */
    --margin-xs: 10px;
    --margin-s: 20px;
    --margin-m: 30px;
    --margin-l: 40px;
    --margin-xl: 50px;
    --margin-xxl: 60px;
  
    --padding-xs: 10px;
    --padding-s: 20px;
    --padding-m: 30px;
    --padding-l: 40px;
    --padding-xl: 50px;
    --padding-xxl: 60px;
  
    --gap-xs: 10px;
    --gap-s: 20px;
    --gap-m: 30px;
    --gap-l: 40px;
    --gap-xl: 50px;
    --gap-xxl: 60px;
}

nav > ul {
  display: flex;
  background-color: var(--navbar-background);
  justify-content: space-evenly;
  align-items: center ;
  padding: 18px 20px;
  height: 70px;
}

.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding-right: 5%;
} 
.end {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding-left: 5%;
}
.navbar > li > a {
  color: var(--text-color-navbar);
  gap: 20px;
  display: flex;
  font-weight: 400;
  font-size: small;
}
.navbar > li > a:hover {
  color: var(--text-color-secondary);
  font-weight: 500;
}
.logo {
  height: 50px;
  justify-self: center;
}

header > img {
  object-fit: cover;
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: -555;
  filter: grayscale(2);
}
h1 {
  position: absolute;
  color: var(--text-color-h1);
  margin-top: 10%;
  margin-left: 20%;
  font-size: 50px;
}

h2 {
  position: absolute;
  color: var(--text-color-h2);
  margin-top: 18%;
  margin-left: 20%;
}
h2 > span {
  color: var(--text-color-span)
}
header > p {
  position: absolute;
  color: var(--text-color-impact);
  margin-top: 24%;
  margin-left: 20%;
  margin-right: 10%;
  max-width: 500px;
  font-size: 20px;
}
header {
  margin-bottom: 750px;
}

#hot-stuff > h3 {
text-align: center;
margin-bottom: 50px;
font-size: 30px;
}
.item{
  height: 460px;
}

.hot-stuff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 40px;
  margin-bottom: 40px;
}
.hot-stuff > section:hover {
  transform: scale(1.1);
}

.item-title {
  text-align: center;
  font-weight: 500;
  margin-right: 50px;
}
.price {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-right: 50px;
}

#promo > img {
  height: 750px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  border-radius: 2%;
}
#new-arrivals > h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  margin-top: 50px;
  }
  .new-arrivals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .new-arrivals > section:hover {
    transform: scale(1.1);
  }
  #collections > h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    margin-top: 50px;
    }
    .collection-title {
      text-align: center;
      color: var(--text-color-title);
    }
    .collections {
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      margin-bottom: 100px;
      padding-bottom: 50px;
    }

    .collections > section > img {
      object-fit: contain;
      width: 388px;
      height: 485px;
    }
    h3 > span {
      color: var(--text-color-span);
    } 

    footer {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      padding: 50px;
      justify-content: space-around;
      background-color: var(--footer-background);
      color: var(--text-color-primary);
      width: 100%;
      gap: 50px;
    }
    .news {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 300px;
    }
    .news > h4 > span {
      color: var(--text-color-span);
    }
    .news > form > input {
      height: 30px;
      width: 200px;
    }
    .news > button {
      height: 30px;
      width: 90px;
      border: 1pt solid var(--border-color-000);
      color: var(--text-color-primary);
      background-color: var(--footer-background);
      font-weight: 100;
    }
    .news > button:hover {
      background-color: var(--primary-background);
      color: var(--footer-background);
      font-weight: 600;
    }
    .customer-service {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .customer-service > p > span {
      color: var(--text-color-span);
    }
    .customer-service > a {
      text-align: center;
      width: 28px;
      align-self: center;
    }
    .terms {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      max-width: 200px;
    }
    .terms > h4 {
      font-weight: 500;
    }
    .terms > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
    .terms > ul > li > a {
      color: var(--text-color-primary);
      font-size: 11px;
    }
    .terms > ul > li > a:hover {
      color: var(--text-color-impact);
    }
    .support {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      max-width: 200px;
    }
    .support > h4 {
      font-weight: 500;
    }
    .support > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
    .support > ul > li > a {
      color: var(--text-color-primary);
      font-size: 11px;
    } 
    .support > ul > li > a:hover {
      color: var(--text-color-impact);
    }